<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование продукта</title>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h2>Редактирование информации о продукте</h2>
<br>
<!--<a  class="button inp buttonTop outer-block" href="/admin">Отмена</a>-->
<a th:href="@{/admin}"  class="button button-span outer-block"><!-- outer-block buttonTop button inp -->
  <div class="btnTxt1"><pre>О</pre></div>
  <div class="btnTxt8"><pre>т</pre></div>
  <div class="btnTxt2"><pre>м</pre></div>
  <div class="btnTxt6"><pre>е</pre></div>
  <div class="btnTxt4"><pre>н</pre></div>
  <div class="btnTxt3"><pre>а</pre></div>
</a>

<form class=" infoForm nowrap-flex" name="editProduct" th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" >

  <h2 class="title" th:text="'Редактируется продукт: '+${product.title}+', категория: '+${product.getCategory().getName()}+', код: '+${id}"></h2>

  <img th:src="'/img/' + ${product.getImageList()[0].getFileName()}"  width="50px">

  <label for="category">Укажите категорию</label>
  <select class="inBox" name="category" th:field="*{category}"  id="category">
    <div th:each="row : ${category}" >
      <option th:text="${row.getName()}" th:value="${row.getId()}"></option>
    </div>
  </select>
  
  <label for="title">Введите наименование товара: </label>
  <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

  
  
  <label for="description">Введите описание товара: </label>
  <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

  
  <label for="price">Введите цену товара: </label>
  <input type="number" th:field="*{price}"  step=0.01 id="price">
  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

  
  
  <label for="warehouse">Введите склад: </label>
  <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
  <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>

  

  <label for="seller">Введите данные о продавце: </label>
  <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>

<!--  <input class="button inp" type="submit" value="Изменить продукт">-->
  <button class="button button-wide" type="submit"><!-- buttonTop btn3column -->
    <div class="btnTxt1">Изменить</div>
    <div class="btnTxt5">продукт</div>
    <div class="btnTxt3"></div>
    <div class="btnTxt4"></div>
  </button>
  <a th:href="@{/admin}"  class="button button-span"><!-- outer-block buttonTop button inp -->
    <div class="btnTxt0"><pre>О</pre></div>
    <div class="btnTxt1"><pre>т</pre></div>
    <div class="btnTxt2"><pre>м</pre></div>
    <div class="btnTxt4"><pre>е</pre></div>
    <div class="btnTxt3"><pre>н</pre></div>
    <div class="btnTxt0"><pre>а</pre></div>
  </a>
</form>
</body>
</html>