<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр продукции</title>
</head>
<body>
<h1>Просмотр продукции</h1>
<br><br>
<a th:href="@{/authentication}">Войти/Зарегистрироваться</a>
<br><br><br><br>
<form th:method="POST" th:action="@{/product/search}">
  <h2>Поиск продукции</h2>
  <label for="search">Поиск в названии</label>
  <input name="search" type="text" th:value="*{value_search}" id="search">
  <br><br>
  <fieldset>
    <legend>Выбор предела цен: </legend>
    <label for="minPrice">Минимальная цена</label>
    <input name="minPrice" type="number" step="0.2" min="0" th:value="*{value_minPrice}" id="minPrice">
    <label for="maxPrice">Максимальная цена</label>
    <input name="maxPrice" type="number" step="0.2" min=0 th:value="*{value_maxPrice}" id="maxPrice">
  </fieldset>
  <br><br>
  <fieldset>
    <br>
    <legend>Выбор параметров сортировки</legend>
    <div>
      <label for="inCategory">Выбор категории товаров: </label>
      <select name="inCategory" id="inCategory">
        <div th:each="category: ${categories}" >
          <option th:text="${category.getName()}" th:value="${category.getId()}"></option>
        </div>
      </select>
      <!--            <fieldset>-->
      <!--                <legend>Выбор категории товаров: </legend>-->
      <!--                <label for="furniture">Мебель</label>-->
      <!--                <input type="radio" id="furniture" name="inCategory" value="furniture">-->
      <!--                <label for="appliances">Бытовая техника</label>-->
      <!--                <input type="radio" id="appliances" name="inCategory" value="appliances">-->
      <!--                <label for="clothes">Одежда</label>-->
      <!--                <input type="radio" id="clothes" name="inCategory" value="clothes">-->
      <!--            </fieldset>-->
      <br><br>
      <label for="ascending_price">Отсортировать по возрастанию цены</label>
      <input type="radio" id="ascending_price" checked name="sorting" value="ascending_price">
      <br><br>
      <label for="descending_price">Отсортировать по убыванию цены</label>
      <input type="radio" id="descending_price" name="sorting" value="descending_price">
      <br><br>
      <input type="submit" value="Найти">
    </div>
  </fieldset>
</form>
<br><br>
<!--<form th:method="POST" th:action="@{/product/search}">-->
<!--    <fieldset>-->
<!--        <legend>Выбор параметров сортировки</legend>-->
<!--        <div>-->
<!--            <label for="ascending_price">Отсортировать по возрастанию цены</label>-->
<!--            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">-->
<!--            <br><br>-->
<!--            <label for="descending_price">Отсортировать по убыванию цены</label>-->
<!--            <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">-->
<!--            <p>Категория товаров: </p>-->
<!--            <label for="furniture">Мебель</label>-->
<!--            <input type="radio" id="furniture" name="contact" value="furniture">-->
<!--            <label for="appliances">Бытовая техника</label>-->
<!--            <input type="radio" id="appliances" name="contact" value="appliances">-->
<!--            <label for="clothes">Одежда</label>-->
<!--            <input type="radio" id="clothes" name="contact" value="clothes">-->
<!--            <br><br>-->
<!--            <input type="submit" value="Найти">-->
<!--        </div>-->
<!--    </fieldset>-->
<!--</form>-->
<h3>Результат</h3>
<div th:each="product : ${search_result}">
  <img th:src="'/img/'+ ${product.imageList[0].getFileName()}"  width="50px">
  <br>
  <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <hr>
</div>
<hr>
<br><br>
<h3>Доступные товары:</h3>
<div th:each="product : ${products}" >
  <!--    <p th:text="'Название: '+${product.getTitle()}"></p>-->
  <!--    <p th:text="'Описание: '+${product.getDescription()}"></p>-->
  <!--    <p th:text="'Цена: '+${product.getPrice()}"></p>-->
  <!--    <p th:text="'Город: '+${product.getWarehouse()}"></p>-->
  <!--    <p th:text="'Продавец: '+${product.getSeller()}"></p>-->
  <img th:src="'/img/' + ${product.imageList[0].getFileName()}"  width="50px">
  <br>
  <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <hr>

</div>
</body>
</html>