<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование строки заказа</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h2>Редактирование строки заказа</h2>

<form class="form1" th:method="POST" th:action="@{/admin/editOrder/{id}(id=${orderItem.getId()})}" th:object="${orderItem}" >
    
    <fieldset>
        <legend>Выбор операции</legend>
        <div class="inp inpRadio">

            <input type="radio" id="cancel" name="operation" value="cancel" >
            <label for="cancel">Отменить</label>
        </div>
        <div class="inp inpRadio">
            <input type="radio" id="changeStatus" name="operation" value="changeStatus" checked>
            <label for="changeStatus">Изменить статус</label>
        </div>

<!--        перенесено в editStatuses:-->
<!--        <label for="createStatus">Создать новый статус: не реализоано</label>-->
<!--        <input type="radio" id="createStatus" name="underRealization" value="createStatus">-->
<!--        <label for="renameStatus">Переименовать статус: не реализоано</label>-->
<!--        <input type="radio" id="renameStatus" name="underRealization" value="renameStatus">-->
        <div class="inp inpRadio">
            <input type="radio" id="del" name="operation" value="del">
        <label for="del">Удалить строку заказа</label>
        </div>
    </fieldset>
    
<!--    <label for="newName">Новое название</label>-->
<!--    <input name="newName" th:field="*{name}" id="newName" type="text">-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>-->

<!--    -->
    <fieldset >
        <legend>Изменение статуса заказа </legend>
        <div class="inp">
            <label for="newStatus">Укажите новый статус:</label>
            <select class="inBox" name="newStatus" id="newStatus">
                <div th:each="status : ${statuses}">
                    <option th:text="${status.getName()}" th:value="${status.getName()}"></option>
                </div>
            </select>
        </div>
    </fieldset>
    <div>
        <a href="/admin/orders" class="button button-span buttonTop">
            <!-- Вернуться  -->
            <div class="btnTxt7"><pre>Н</pre></div>
            <div class="btnTxt2"><pre>а</pre></div>
            <div class="btnTxt1"><pre>з</pre></div>
            <div class="btnTxt3"><pre>а</pre></div>
            <div class="btnTxt6"><pre>д</pre></div>
        </a>
        <button class="button buttonTop button-span" type="submit"><!-- button-wide btn3column -->
            <div class="btnTxt6"><pre>Вы</pre></div>
            <div class="btnTxt8"><pre>пол</pre></div>
            <div class="btnTxt7"><pre>нить </pre></div>
            <div class="btnTxt2"><pre>о</pre></div>
            <div class="btnTxt3"><pre>пе</pre></div>
            <div class="btnTxt1"><pre>ра</pre></div>
            <div class="btnTxt4"><pre>ци</pre></div>
            <div class="btnTxt5"><pre>ю</pre></div>
        </button>
    </div>
<!--    <input type="submit" value="Выполнить операцию">-->
</form>

<hr>
<h2>Информация о заказе</h2>
<!--Подробности заказа (одна итерация в цикле)-->
<div th:each="order : ${orderItem}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}"  width="50px">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
    <p th:text="'Количество: ' + ${order.getCount()}">
    <p th:text="'Сумма: ' + ${order.getPrice()} +'руб.' ">
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Cтатус: ' + ${order.getStatus().getName()}">
    <p th:text="'Общая сумма заказа: ' + ${order.getTotalPrice()} +'руб.' ">
</div>

</body>
</html>