<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование данных пользователя</title>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Редактирование данных пользователя</h1>

<br>
<p th:text="'ID: ' + ${person.getId()}"></p>
<a th:href="@{/admin/infoPerson/{id}(id=${person.getId()})}" th:text=" 'LOGIN: ' + ${person.getLogin()}"></a>
<p th:text="'РОЛЬ: ' + ${person.getRole() }"></p>
<hr>



<!--          -->
<form th:method="post" th:action="@{/admin/infoPerson/{id}(id=${person.getId()})}" th:object="${person}" >

  <div  class="inp">
    <label for="login">ЛОГИН: </label>
    <input type="text" th:field="*{login}"  id="login">
    <div  class="errMessage" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
  </div>


<label for="newRole">Выберите роль: </label>
<select id="newRole" th:name="newRole"  th:field="*{role}">
  <option th:each="enum : ${T(spring.attest.zuev.enumm.PersonRoles).values()}"
          th:text="${enum.name()}"    th:value = "${enum}">
  </option>
</select>
<br>
<!--  <label for="password">hash-пароль: </label>-->
<!--  <input type="text" th:field="*{password)}"  id="password">-->
  <label for="idPeron">ID: </label>
  <input type="text" th:field="*{id}"  id="idPeron">
  <br>
  <button class="button" type="submit">
    <div class="btnTxt1">Записать</div>
    <div class="btnTxt2">все</div>
    <div class="btnTxt3">изменения</div>
  </button>

</form>


<a th:href="@{/admin/personList}">Вернуться</a>
</body>
</html>