<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование пользователей</title>
</head>
<body>
<h1>Администрирование пользователей</h1>
<span> - - - </span>
<a th:href="@{/admin}">Вернуться в кабинет администратора</a>

<div th:each="person : ${personList}" >
    <br>
    <p th:text="'ID: ' + ${person.getId()}"></p>
    <a th:href="@{/admin/infoPerson/{id}(id=${person.getId()})}" th:text=" 'LOGIN: ' + ${person.getLogin()}"></a>
    <p th:text="'РОЛЬ: ' + ${person.getRole() }"></p>
    <hr>

</div>


</body>
</html>