<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр статусов заказов</title>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>

<div class="form1">
<br>
  <h1>Просмотр статусов заказов</h1>
  <a th:href="@{/admin}" class="button button-span buttonTop">Вернуться</a>
</div>
<!--<hr>-->

<h2>Статусы заказов:</h2>
<div  class="largeForm">
<div  class="min-line compactForm" th:each="status : ${statuses}" >
  
  <p th:text="'Статус: `'+${status.getName()}+'`'"></p>

  <a th:href="@{/admin/editStatuses/{id}(id=${status.getId()})}" >Редактировать статус</a>

  <p th:text="'Описание: ' + ${status.getStatusDescription()}"></p>

</div>
</div>
</body>
</html>