<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ваша корзина</title>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h2>Ваша корзина</h2>
<h4 th:text="'Общая сумма заказа: '+ ${totalCart} +' руб.'"></h4>
<a href="/order/create">Оформить заказ</a>
<span> - - - </span>
<a th:href="@{/index}">Вернуться на страницу пользователя</a>
<br><br>
<div th:each="product : ${cartProducts}">
  <hr>
  <img th:src="'/img/'+ ${product.imageList[0].getFileName()}" width="50px" >
  <br>
  <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getCategory().getName()}+' / '+ ${product.getTitle()}"></a>
  <p th:text="'Цена: '+${product.getPrice()}"></p>
  <div th:each="cartItem : ${cartCurrent}">
    <div th:if="${cartItem.getProductId()==product.getId()}">
      <p th:text="'Количество: '+ ${cartItem.getQuantity()}"></p>
      <p th:text="'Сумма: '+ (${cartItem.getQuantity()} * ${product.getPrice()})"></p>
    </div>
  </div>
  <a th:href="@{/cart/del/{id}(id=${product.getId()})}">Удалить из корзины</a>
</div>
<br><br><hr>

</body>
</html>