<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет клиента</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>

<h1>Личный кабинет клиента</h1>
<!--<h3>Вас приветствует наш магазин!</h3>-->
<header class="form1">
<form method="post" th:action="@{/logout}">
    <button class="button buttonTop  button-wide" type="submit">
        <div class="btnTxt1">Выйти</div>
        <div class="btnTxt2">из</div>
        <div class="btnTxt3">личного</div>
        <div class="btnTxt4">кабинета</div>
    </button>
</form>

<form method="get" th:action="@{/orders}">
    <button class="button buttonTop button-wide" type="submit">
        <div class="btnTxt1">Посмотреть</div>
        <div class="btnTxt2">свои</div>
        <div class="btnTxt3">заказы</div>
        <div class="btnTxt4"></div>
    </button>
</form>

<form method="get" th:action="@{/cart}">
    <button class="button buttonTop button-wide" type="submit">
        <div class="btnTxt1">Перейти</div>
        <div class="btnTxt2">к</div>
        <div class="btnTxt3">своей</div>
        <div class="btnTxt4">корзине</div>
    </button>
    <!--<a th:href="@{/cart}">Перейти к корзине</a>-->
</form>
</header>
<h2>Поиск продукции</h2>
<form class="form1" th:method="POST" th:action="@{/user/search}">
    <fieldset >
        <legend>Поиск в названии | Выбор категории: </legend>
        <div  class="inp">
                <label for="search">Поиск в названии</label>
            <input name="search" type="text" th:value="*{value_search}" id="search" placeholder="поисковая строка">
        </div>
        <div class="inp">
            <label for="inCategory">Категория товаров: </label>
            <select class="inBox" name="inCategory" id="inCategory">
                <div th:each="category: ${categories}" >
                    <option th:text="${category.getName()}" th:value="${category.getId()}"></option>
                </div>
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend >Выбор диапазона цены: </legend>
        <div  class="inp">
            <label for="minPrice">Минимальная цена</label>
            <input name="minPrice" type="number" step="0.2" min="0" th:value="*{value_minPrice}" id="minPrice">
        </div>
        <div  class="inp">
            <label for="maxPrice">Максимальная цена</label>
            <input name="maxPrice" type="number" step="0.2" min=0 th:value="*{value_maxPrice}" id="maxPrice">
        </div>
    </fieldset>
    <fieldset>

        <legend >Выбор параметров сортировки</legend>
        <div  class="inp inpRadio">
            <input type="radio" id="ascending_price" checked name="sorting" value="ascending_price">
            <label for="ascending_price">По возрастанию цены</label>
        </div>
        <div  class="inp inpRadio">
            <input type="radio" id="descending_price" name="sorting" value="descending_price">
            <label for="descending_price">По убыванию цены</label>
        </div>
    </fieldset>
<!--    <br>-->
    <button class="button buttonTop button-wide btn3column" type="submit">
        <div class="btnTxt1">Найти</div>
        <div class="btnTxt2">товары</div>
        <div class="btnTxt3">соответствующие</div>
        <div class="btnTxt4">фильтру</div>
    </button>
 </form>

<h3>Результаты поиска</h3>
<div class="form1">
<!--    <h3 th:if="${search_result.isEmpty()}" >Ничего не найдено.</h3>-->
<div class="element" th:each="product : ${search_result}">
    <img th:src="'/img/'+ ${product.imageList[0].getFileName()}"  width="50px" >
    
    <a class="word-break" th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить продукт в корзину</a>
    <hr>
</div>
</div>
<h3>Доступные товары:</h3>
<div class="form1">
<div class="element" th:each="product : ${products}" >
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}"   width="50px" >
    
    <a class="word-break"  th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить продукт в корзину</a>
    <hr>

</div>
</div>
</body>
</html>