body{    background: linear-gradient(45deg, rgb(255, 165, 0), rgb(255, 215, 0), rgb(184, 134, 11), rgb(255, 69, 0));}
*{margin: 0;}
h1, h2, h3, h4{text-align: center; margin-top: 4%; }
.overflow-auto{overflow: auto;}
.legend-center{font-size: larger; word-spacing: 5vw; text-align: center; padding-top: 20px;}
.outer-block{margin: 2%; padding: 1%;}
.word-break{
    word-wrap: break-word;
    /*width: 100%; !* .break-element{  *!*/
}
.min-line{
    max-height: 100%;
    max-width: 100%;
    word-wrap: break-word;
    overflow: auto;
}
.infoBlock{
    max-height: 100%;
    max-width: 100%;
    word-wrap: break-word;
    overflow: auto;
    margin: 2%;
    padding: 2%;
    box-shadow: cadetblue -1px -1px 9px 1px;
}
.infoBlock:hover{
    border-radius: 20px;
    color: teal ; /*05.25 */
    box-shadow: yellowgreen -5px -5px 25px 15px;
}
button, a {  /* 05.23 !!! no solid border-bottom & black lines */
    border: none;
    border-bottom: double 3px orangered;
    border-radius: 7px;
    padding-right: 4px ; padding-left: 4px;
}
fieldset{ border-radius: 10px}
.imgProd {
    position: absolute;
    /*z-index: 0;    opacity: 0.9;*/
    /*transform: translate(150px, -30px);*/
    transform: translate(20vw, 0px); /*20vw, 20px/ 05.24*/
}

.imgProd:hover {
    z-index: 1;
    opacity: 1;
    transform: translate(150px, -90px) scale(8);
}
.imgLeft{
    float: left;
    padding: 5px;
}
.imgLeft:hover{
    position: absolute;
    z-index: 2;
    opacity: 1;
    transform: translate(-20px, -120px) scale(8);
}
.imgCenter {
    position: absolute;
    opacity: 0.5;
    transform: translate(20vw, 100px);
}

.imgCenter:hover {
    z-index: 1;
    opacity: 1;
    transform: translate(150px, -90px) scale(8);
}
 .form1, .largeForm{ /* .main-grid, */
    margin: 1% 2% 1%; /*  margin: 5% 5% 20%; //05.22 */
     padding: 1%;
    border-radius: 5px; /* //05.22 */
    display: grid;
    /*grid-auto-flow: column ;*/
    grid-template-columns: repeat(3, 1fr);
    /*overflow: auto; overflow: scroll; // hidden; //no 05.22*/
    text-align: center;
    /*align-items: stretch;*/
}
.form1{
    gap: 20px 2%;
    grid-auto-rows: 180px;
    grid-template-columns: repeat(3, 32%);
    /*grid-template-columns: 33% auto;*/
    justify-items: center; /* 05.22 */
    align-items: center;/* 05.21 */
    box-shadow: coral -5px -10px 30px 20px;   /* //05.22 */
}

.largeForm{
    grid-auto-rows: auto;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: stretch;
    /*column-gap: 5px;*/

}
.largeForm:hover {
    box-shadow: rgba(135, 206, 250, 0.6) -5px -10px 30px 20px; /* gold//05.22 */
}
.compactForm, .infoForm{
    margin: 2%;
    padding: 2%;
    text-align: left;
    font-size: medium;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between; /** center/ 05.24 **/
    align-items: flex-start;
    background: linear-gradient(160deg, rgba(255, 165, 0, 0.5), rgba(255, 215, 0, 0.5), rgba(184, 134, 11, 0.5), rgba(255, 69, 0, 0.5)); /*150->160deg //05.22 */
}
.compactForm {

}
.compactForm:hover{
    border-radius: 20px;
    color: darkgreen ; /*05.22 */
    box-shadow: darkorange -5px -5px 25px 15px;
}
.infoForm{
    row-gap: 5px;
    padding-top: 80px;
    align-items: stretch;
    align-content: space-around;
    font: 400 medium Arial;
}
.infoForm:hover{
    border-radius: 20px;
    color: teal ; /*05.25 */
    box-shadow: yellowgreen -5px -5px 25px 15px;
}
.nowrap-flex{  flex-wrap: nowrap !important; }
.infoForm .title{
    transform: translate(0vw, -95px);
    color: darkcyan;
    font: bold x-large "Times New Roman" ;
}

.infoForm p, .infoForm input, .infoForm textarea, .infoForm select, .infoForm  .fSet {
    max-height: 80%;
    max-width: 80%;
    word-wrap: break-word;
    overflow: auto;
    padding: 10px 25px;
    /*padding: 5px 20px;*/
    background: linear-gradient(178deg, rgba(255, 165, 0, 0.7), rgba(255, 215, 0, 0.7), rgba(184, 134, 11, 0.7), rgba(255, 69, 0, 0.7));
}
.infoForm .button{
     margin: auto; /** max-width: 70%; */
}
.infoForm div input, .infoForm div textarea,.infoForm div option{
    width: 100%;
}
.infoForm img{
    float: left;
    position: absolute;
    transform: translate(40vw, 0px); /*20vw, 20px/ 05.24*/
}
.infoForm img:hover {
    opacity: 1;
    transform: translate( 35vw, -90px) scale(8); /** 150px~11vw */
}
.element, .inp{
    font: 300 larger/0.8 "Malgun Gothic", fantasy, monospace;
    padding: 10px 25px;
    /*padding: 5px 20px;*/
    background: linear-gradient(160deg, rgba(255, 165, 0, 0.7), rgba(255, 215, 0, 0.7), rgba(184, 134, 11, 0.7), rgba(255, 69, 0, 0.7)); /*150->160deg //05.22 */
}
.element{
    /*.break-element{*/
    width: 85%;

}
.element:hover, .inp:hover{
    color: yellow ; /*05.22 */
    transition: all 2s;
    background: radial-gradient(ellipse,gold,orangered,brown );
    border-radius: 100px;
    box-shadow: 0 0 50px 60px brown;
    font: 800 larger/0.8 "Malgun Gothic", fantasy;
}
.button, .inp {
    font: 800 larger/0.8 monospace, fantasy, menu, sans-serif;
    text-align: center;
    /*margin: auto;*/
    display: flex;
    flex-direction: row ;/* column; */
    flex-wrap: wrap; /*!nowrap*/
    align-content: center;
    justify-content: center;
    align-items: stretch;
    transition: all 2s;
}
.button{
    border: none;
    border-bottom: double 3px orangered;
}
.btn-center{
    margin: auto;
    /*text-align: center;*/
}
.btn3column{grid-column: span 3; } /** align-self: flex-end; */
.button-wide{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
.button-span{
    max-height: 120px;
    font-size: larger;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
.button-span div pre{
font-size: larger;
}
.inpRadio{
    display: grid;
    grid-template-columns: 1fr 9fr;
    height: 25%;
}

a { color: black; text-decoration: none; /**text-decoration-style: dotted;  05.23 */  }
a:hover{
    border-bottom: dotted 3px yellow;
    /*text-decoration: none;*/
    /** text-decoration-style: wavy; */ /**  05.23 */
    /*text-transform: uppercase;*/ /**  05.23 */
}

.button {
    z-index: 1;
    /*width: 60%;!* 05.22 *!*/
    /*min-height: 50px;*/
    /*margin: auto; !* 10% 25%; //05.22*/
    padding: 10px 10px; /* 05.22 */
    border-radius: 80px;
    transition: all 10s;
    box-shadow: 0 0px 0px 0px rgba(215, 81, 13, 0.9);
    background: radial-gradient(ellipse, rgba(255, 215, 0, 0.7), rgba(255, 69, 0, 0.7), rgba(165, 42, 42, 0.7));
}

.button:hover{
    transition: all 2s;
    border-bottom: 45px double deeppink;/* dotted white;*/
    /*box-shadow : 0 -400px 90px 90px yellow;*/
    box-shadow: 0 -600px 100px 200px rgba(255, 255, 124, 0.9);
    /*background: transparent;*/
}

.buttonTop:hover {box-shadow: 0 190vh 100px 200px rgba(255, 255, 124, 0.9);}

.button:hover .btnTxt1, .button:hover .btnTxt5{
    display: flex;
    transition: all 4s;
    color: dodgerblue;
    text-shadow: 0px -1px 2px red;
    font: 800 larger/0.8 "Times New Roman", sans-serif;
    letter-spacing: 2px;
    transform: translateY(50%) translateX(100px) rotate3d(-1.01, 0.05, 0.05, 1.98turn);
}
.button:hover .btnTxt2, .button:hover .btnTxt6{
    display: flex;
    color: darkgreen;
    font: 500 larger/0.8 "Arial", sans-serif;
    letter-spacing: -2px;
    transition: all 4s;
    transform: rotate(2turn) translateX(-15vw) rotate3d( 1.9, 0.01, -3.5, 2.8turn); //59.5turn

}
.button:hover .btnTxt3, .button:hover .btnTxt7{
    display: flex;
    color: darkmagenta;
    font: 500 larger/0.8 "Tahoma", sans-serif;
    letter-spacing: -3px;
    transition: all 4s;
    rotate: -2turn;
    transform: translateX(8vw) rotate3d(  0.4, 2.01, 0.4, 2.1turn); //59.5turn
}

.button:hover .btnTxt4, .button:hover .btnTxt8{
    display: flex;
    color: navy;
    font: 500 larger/0.8 "Tahoma", sans-serif;
    letter-spacing: -3px;
    transition: all 4s;
    rotate: -1.1turn;
    transform: translateX(-4vw) rotate3d(  .1, 5.5, .1, 2.1turn); //59.5turn
}
.button:hover .btnTxt5{
    color: mediumvioletred;
    transform: translateY(150%) translateX(-100%) rotate3d(1.01, 0.05, 0.05, 2.98turn);
}
.button:hover .btnTxt6{
    color: lawngreen;
    transform: rotate(8turn) translateX(-10vw) rotate3d( -1.9, 0.01, -3.5, 3.8turn); //59.5turn
}
.button:hover .btnTxt7{
    color: darkcyan;
    transform: translateX(9vw) rotate3d(  0.4, -2.01, 0.4, 2.7turn); //59.5turn
}
.button:hover .btnTxt8{
    color: firebrick;
    transform: translateX(-5vw) rotate3d(  .1, -5.5, .1, 2.9turn); //59.5turn
}

button{cursor: pointer;}
.form1 input, .form1 label, .inBox{ /**.inBox-для <textarea> */
    font: 800 medium monospace, fantasy; /* medium larger */
    text-align: center;
    width: 80%; /*!!*/
    padding: 0px 10px ;
   /* margin: 0px 20px; index.html*/
    background: transparent ;
}

.form1 label:hover, .form1 select:hover{
    cursor: pointer;
}

input, .inBox{ /* del: button, 05.22*/
    border: none;
    border-bottom: 3px dotted darkviolet;
}
.errMessage{ /*, .errMessLine */
    transition: all 15s;
    transform: rotateZ(-30deg);
    color: red;
    text-shadow: 2px -2px 0px black;
    position:relative ;
    padding: 0px 10px;
    top: -30px;  /* -20% //05.23 */
    font: italic 800 calc(1vw + 6px) monospace, menu;
}
.inp:hover .errMessage{ /* del: .inp:hover 05.22*/
    text-shadow: none;
    transition: all 0.5s;
    transform:translateY(60px) ; /* 180% //05.23 */
    color: yellow;
}
.errMessLine{   /*  05.25 */
    position:absolute ; /* relative */
    max-width: 30vw;
    transition: 15s all; /*  0.2s; */
    transform: translate(25vw, -30px) rotateZ(-3deg) skew(30deg) scale(2.5) ; /*  */
    color: red;
    font: italic 800 calc(1vw + 6px) monospace, menu;
}
/*.infoForm div:hover .errMessLine*/
.infoForm div:hover .errMessLine{
    transition: all 0.5s;
    transform:translate(50vw, -60px) ; /* 180%  */
    color: darkmagenta;
}
/**************************************/
@media (max-width:850px) {
    h1, h2, h3, h4{top:0}
}
@media (max-width:550px) {
    img{opacity: 0.3;}
    .form1, .largeForm{
        display: block;
    }
    /*.inpRadio{}*/

        /*.fieldset-outer{*/
    /*    grid-template-columns: max-content;*/
    /*}*/
    /*fieldset{*/
    /*    grid-auto-flow: row;*/
    /*    grid-template-columns:repeat(1, min-content);*/

    /*    gap: 1vh 2vw;*/
    /*    margin: auto;*/
    /*}*/
    /*fieldset button{*/
    /*    grid-row: span 3;*/
    /*    grid-column: span 1;*/
    /*}*/

}
