<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Регистрация и авторизация</h1>
  <fieldset>
    <legend><h2>Выполнить вход</h2> </legend>
<form class="form1" method="post" action="/process_login">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<!--    <input type="checkbox" name="check_admin">Администратор-->
    <div class="inp">
        <label for="username">Введите логин: </label>
        <input class="inp" type="text" placeholder="Введите ваш логин" name="username" id="username">
        <div class="errMessage" th:if="${param.error}">Неправильный логин или пароль!</div>
    </div>
    <div class="inp">
        <label for="password">Введите пароль: </label>
        <input  type="password" placeholder="Введите ваш пароль" name="password" id="password">
        <div CLASS="errMessage" th:if="${param.error}">Неправильный логин или пароль!</div>
    </div>
    <button class="button button-wide" type="submit" value=""><!-- btn3column buttonTop -->
        <div class="btnTxt1">Войти</div>
        <div class="btnTxt2">в</div>
        <div class="btnTxt3">свой</div>
        <div class="btnTxt4">аккаунт</div>
    </button>

</form></fieldset>
<br> <hr> <br>

<div class="form1">
    <hr>
    <a class="button button-wide" href="/product"><!-- btn3column buttonTop -->
        <div class="btnTxt1">Посмотреть</div>
        <div class="btnTxt2">наши</div>
        <div class="btnTxt3">товары</div>
        <div class="btnTxt4"></div>
    </a>
    <a href="/registration" class="button button-span"> <!-- btn3column buttonTop  button-wide-->
        <div class="btnTxt1"><p>За</p></div>
        <div class="btnTxt2"><p>ре</p> </div>
        <div class="btnTxt3"><p>ги</p> </div>
        <div class="btnTxt4"><p>стри</p></div>
        <div class="btnTxt5"><p>ро</p></div>
        <div class="btnTxt6"><p>ва</p> </div>
        <div class="btnTxt7"><p>ть</p> </div>
        <div class="btnTxt8"><p>ся</p></div>
    </a>
<!--  PRE-BELOW-->
<!--    <a href="/registration" class="button button-span"> &lt;!&ndash; btn3column buttonTop  button-wide&ndash;&gt;-->
<!--        <div class="btnTxt1"><pre>За</pre></div>-->
<!--        <div class="btnTxt2"><pre>ре</pre> </div>-->
<!--        <div class="btnTxt3"><pre>ги</pre> </div>-->
<!--        <div class="btnTxt4"><pre>стри</pre></div>-->
<!--        <div class="btnTxt5"><pre>ро</pre></div>-->
<!--        <div class="btnTxt6"><pre>ва</pre> </div>-->
<!--        <div class="btnTxt7"><pre>ть</pre> </div>-->
<!--        <div class="btnTxt8"><pre>ся</pre></div>-->
<!--    </a>-->
</div>
<script th:inline="javascript"> Зарегистрироваться
  var param = [[${param}]];
  var param_error = [[${param.error}]];
    console.log("param= ", param, "param.error= ", param_error );

</script>
</body>
</html>

